@media screen and (max-width: 960px) {
    .carousel-inner-container {
        padding: 0 15px !important;
        padding-bottom: 80px !important;
    }

    .carousel-dot:not(.custom) li,.carousel-dot:not(.custom) button {
        width: 30px !important;
    }

    .carousel-dot.custom {
        right: 0 !important;
    }
  }

  @media screen and (max-width: 600px) { 
      .carousel-image-container {
        background-position: 50% 50% !important;
      }
  }