.video-section .introduction-text {
    font-weight: 700 !important;
    font-size: 52px !important;
    line-height: 63px !important;
}

.video-section .introduction-description {
    font-weight: 400px;
    font-size: 14px;
    line-height: 28.5px;
    color: #fff;
    max-width: 771px;
}